---
import { getCollection } from 'astro:content';
import BaseLayout from '$/layouts/Base.astro';
import FormattedDate from '$/components/FormattedDate.astro';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const blogEntries = await getCollection('projects');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const title = entry.data.title;
const start = entry.data.startDate;
const end = entry.data.endDate;
const github =
  entry.data.socials.github !== null
    ? 'https://github.com/' + entry.data.socials.github
    : null;

const img = entry.data.image.url;
const alt = entry.data.image.alt;
---

<BaseLayout content={entry.data}>
  <header>
    <h1>{title}</h1>
    {img ? <Image src={img} alt={alt} /> : null}
    <div>
      <span>
        <FormattedDate date={start} />
        {
          end ? (
            <>
              -
              <FormattedDate date={end} />
            </>
          ) : null
        }
      </span>
      <hr />
      {github ? <a href="{entry.data.socials.github}">Github</a> : null}
    </div>
  </header>
  <article>
    <Content />
  </article>
</BaseLayout>

<style>
  h1 {
    margin-bottom: var(--space-2xs);
    font-weight: 800;
  }

  div {
    font-size: var(--step--1);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: var(--space-s);
    color: var(--tx-dim);
  }

  img {
    max-height: calc(var(--step-5) * 5);
    margin: auto;
  }
</style>
